.Subportfolio{
    text-align: center;
    height: 250px;
    width: 300px;
    margin: 20px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.Subportfolio img{
    border-radius: 10px 10px 0 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 130vh;
    margin-top: 70px;
    /* background-color: rgb(161, 159, 159); */
}

.cardContainer{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.cardContainer a{
    text-decoration: none;
}